
body {
    padding-top: 20px;
    padding-bottom: 20px;
    //overflow-y: scroll; // Caued a bug in jQueryUI Sortable
    font-size: 14px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Port Lligat Slab', serif;
    font-size: 6em;
    text-shadow: 0 2px 2px #555;
    color: #444;
}

.navbar {
    margin-bottom: 20px;
}

.nav.nav-compact > li > a {
    padding: 2px 5px;
}

.highlight {
    background: #adf0fe;
}

dl.dl-small {
    margin-bottom: 0;
    dd {
        margin-left: 70px;
    }
    dt{
        width: 65px;
    }
}

table td.minimize, table th.minimize {
    width: 1px;
}

.input-append-icon {
    position: relative;
    width: 0;
    float: right;
    i.fa {
        position: absolute;
        top: 8px;
        left: -25px;
        font-size: 1.5em;
    }
}

blockquote {
    font-size: 1em;
}

textarea {
    resize: vertical;
}

.loader {
    background: image-url('ajax-loader.gif') no-repeat center center;
}

.ui-sortable-placeholder, .ui-sortable-helper {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
}

.preview {
    max-height: 200px;
    overflow-y: hidden;
    position: relative;
    padding-bottom: 30px;
    @include transition(max-height 0.8s);
    .preview-toggle {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        height: 30px;
        display: block;
        padding: 5px;
        background: $body-bg;
        &:hover {
            text-decoration: none;
            color: $text-color;
        }
        &.preview-hide {
            display: none;
        }
    }
    &.active {
        max-height: 10000px;
        .preview-show {
            display: none;
        }
        .preview-hide {
            display: block;
        }
    }
    &.disabled {
        padding-bottom: 0;
        .preview-show {
            display: none;
        }
        .preview-hide {
            display: none;
        }
    }
}

.panel.panel-default .panel-heading .preview-toggle {
    background: $panel-default-heading-bg;
}

.entity-actions {
    &.btn-group-vertical {
        clear: both;
        float: none;
        text-align: left;
        .btn {
            text-align: left;
        }
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 5em;
    }
}