
.photo {
	.avatar {
		float: left;
		margin-right: 10px;
		margin-top: 5px;
	}
}

.topic-photos {
	a {
		display: inline-block;
		margin: 3px;
	}
}

.blueimp-gallery {
	.slides>.slide>.slide-content.modal {
		overflow-y: auto;
	}
	.modal-dialog {
		max-width: none !important;
	}
}