
.post {
    clear: both;
    font-size: 1.1em;
    textarea {
        resize: vertical;
    }
    .post-infos {
        visibility: hidden;
        margin-bottom: 0;
        clear: both;
        font-size: 0.8em;
    }
    .post-side {
        padding-bottom: 1.4em;
        a.btn {
            margin-top: 1em;
        }
    }
    .post-actions {
        visibility: hidden;
        margin-top: -0.2em;
        font-size: 1.2em;
        .btn {
            padding: 0.2em 0.5em;
        }
    }
    &:hover {
        .post-infos, .post-actions {
            visibility: visible;
        }
    }
}
