
.topic {
    clear: both;
    &.panel{
        margin-bottom: 2em;
        .panel-body .topic-photos {
            margin: -4px -4px 0px;
            .img-thumbnail {
                border: none;
                margin-right: 0;
                margin-bottom: 14px;
            }
        }
    }
    .panel-heading h3{
        margin-top: 4px;
    }
    .modal-header {
        display: none;
    }
    .topic-photos {
        position: relative;
        .img-thumbnail {
            float: left;
            display: block;
            vertical-align: middle;
        }
    }
}
