
.topic {
    clear: both;
    &.panel{
        margin-bottom: 2em;
        .panel-body .topic-photos {
            margin: -4px -4px 0;
            .img-thumbnail {
                border: none;
                margin-right: 0;
                margin-bottom: 14px;
            }
        }
    }
    .panel-heading h3{
        margin-top: 4px;
    }
    .modal-header, .modal-footer {
        display: none;
    }
    .topic-photos {
        position: relative;
        .img-thumbnail {
            float: left;
            display: block;
            vertical-align: middle;
            &.selected {
                border-color: $brand-primary;
            }
        }
    }
    .btn.topic-starred {
        display: none;
    }
    &.is-starred {
        .btn.topic-starred {
            display: initial;
        }
        .btn.topic-unstarred {
            display: none;
        }
    }
}

#sortable-photos {
    .img-thumbnail {
        position: relative;
        margin: 3px;
        .btn-group {
            position: absolute;
            z-index: 100;
            bottom: 0;
            left: 3px;
            display: none;
        }
        &.selected {
            .btn-group {
                display: block;
            }
        }
    }
}