/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/data/*
/app/logs/*
!app/cache/.gitkeep
!app/data/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/web/assets/
/web/css/*
/web/js/*
/.sass-cache/
/web/images/avatars/