/*
Error: Invalid CSS after "...mily-sans-serif": expected selector or at-rule, was ":  "Source Sans..."
        on line 44 of /home/www/comtso/vendor/log0ymxm/bootswatch-scss/cosmo/_variables.scss
        from line 4 of /home/www/comtso/src/ComTSo/ForumBundle/Resources/sass/comtso-cosmo.scss

39: //
40: //## Font, line-height, and color for body text, headings, and more.
41: 
42: $web-font: ""//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700""
43: 
44: $font-family-sans-serif:  "Source Sans Pro", Calibri, Candara, Arial, sans-serif !default;
45: $font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
46: //** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
47: $font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
48: $font-family-base:        $font-family-sans-serif !default;
49: 

Backtrace:
/home/www/comtso/vendor/log0ymxm/bootswatch-scss/cosmo/_variables.scss:44
/home/www/comtso/src/ComTSo/ForumBundle/Resources/sass/comtso-cosmo.scss:4
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1162:in `expected'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1098:in `expected'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:43:in `parse'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/engine.rb:403:in `_to_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/engine.rb:309:in `to_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:157:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/engine.rb:278:in `render'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.1.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/var/lib/gems/2.1.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/var/lib/gems/2.1.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/var/lib/gems/2.1.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/var/lib/gems/2.1.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/var/lib/gems/2.1.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/var/lib/gems/2.1.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/var/lib/gems/2.1.0/gems/compass-1.0.3/bin/compass:44:in `call'
/var/lib/gems/2.1.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...mily-sans-serif\": expected selector or at-rule, was \":  \"Source Sans...\"\A         on line 44 of /home/www/comtso/vendor/log0ymxm/bootswatch-scss/cosmo/_variables.scss\A         from line 4 of /home/www/comtso/src/ComTSo/ForumBundle/Resources/sass/comtso-cosmo.scss\A \A 39: //\A 40: //## Font, line-height, and color for body text, headings, and more.\A 41: \A 42: $web-font: \"\"//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700\"\"\A 43: \A 44: $font-family-sans-serif:  \"Source Sans Pro\", Calibri, Candara, Arial, sans-serif !default;\A 45: $font-family-serif:       Georgia, \"Times New Roman\", Times, serif !default;\A 46: //** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.\A 47: $font-family-monospace:   Menlo, Monaco, Consolas, \"Courier New\", monospace !default;\A 48: $font-family-base:        $font-family-sans-serif !default;\A 49: ";
}
