body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.post {
	clear: both;
	font-size: 1.1em;
}

.post textarea {
	resize: vertical;
}

.post .post-infos {
    visibility: hidden;
    margin-bottom: 0;
	clear: both;
}

.post:hover .post-infos {
    visibility: visible;
}

.people .avatar {
	display: inline-block;
	margin: 25px;
}

.avatar {
    text-align: center;
    display: block;
    position: relative;
	margin-bottom: 15px;
}

.avatar .username{
    display: none;
    position: absolute;
    width: 100%;
    top: 43%;
    font-size: 1.3em;
}

.avatar.avatar-med .username{
    top: 35%;
    font-size: 1.1em;
}

.avatar.avatar-big .username{
    top: 38%;
    font-size: 1.5em;
}

.avatar.avatar-xs {
	text-align: right;
	margin-bottom: 0;
}

.avatar.avatar-xs .username{
    position: static;
    display: inline;
    width: auto;
    font-size: 1em;
}

.avatar.avatar-xs img {
    float: right;
    margin-left: 5px;
    margin-top: 2px;
}

.avatar:hover .username{
    display: block;
}

.avatar:hover img{
    opacity: 0.3;
}

h1 {
	font-family: 'Port Lligat Slab', serif;
	font-size: 10em;
	text-shadow: 2px 2px 2px #000;
}

.topic {
	clear: both;
}

.topic.panel{
	margin-bottom: 2em;
}

.topic .panel-heading h3{
	margin-top: 4px;
}

.clear {
	clear: both;
}

.nav.nav-compact > li > a {
	padding: 2px 5px;
}

.chat-message p {
	margin-bottom: 2px;
}

.chat-message time {
	float: right;
	font-style: italic;
	display:none;
}

.chat-message:hover time {
	display: inline;
}

#chat-box .col-sm-2 {
	padding-right: 0;
}

#chat-panel .users {
	width: 50%;
}

#chat-panel .users {
	text-align: right;
}

#chat-panel .users .avatar {
	float: none;
	display: inline;
}

#chat-panel .users .avatar img {
	float: none;
	display: inline;
	margin: 2px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 5em;
	}
	.avatar.avatar-xs .username{display:none}
}