{% extends 'ComTSoForumBundle::layout.html.twig' %}

{% block main_content %}
	<div class="modal fade" id="photo-browser" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Photo Browser</h4>
				</div>
				<div class="modal-body">
					<h3>Ajout de photos</h3>
					<form id="fileupload" action="{{ oneup_uploader_endpoint('photos') }}" method="POST" enctype="multipart/form-data">
						<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
						<div class="fileupload-buttonbar">
							<div class="btn-group">
								<!-- The fileinput-button span is used to style the file input field as button -->
								<span class="btn btn-success fileinput-button" title="Ajouter des photos">
									<i class="fa fa-plus"></i>
									<span>Ajouter</span>
									<input type="file" name="files[]" multiple>
								</span>
								<button type="reset" class="btn btn-warning cancel" title="Annuler tout">
									<i class="fa fa-ban"></i>
									<span>Annuler</span>
								</button>
								<button type="button" class="btn btn-danger delete" title="Supprimer les uploads">
									<i class="fa fa-trash-o"></i>
									<span>Supprimer</span>
								</button>
								<button type="submit" class="btn btn-primary start" title="Commencer à envoyer les fichiers">
									<i class="fa fa-upload"></i>
									<span>Lancer l'upload</span>
								</button>
							</div>
							<span class="fileupload-process"></span>
							<!-- The global progress state -->
							<div class="fileupload-progress fade">
								<!-- The global progress bar -->
								<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
									<div class="progress-bar progress-bar-success" style="width:0%;"></div>
								</div>
								<!-- The extended global progress state -->
								<div class="progress-extended">&nbsp;</div>
							</div>
						</div>
						<!-- The table listing the files available for upload/download -->
						<table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
					</form>
					<div id="photo-selector">
						{% include 'ComTSoForumBundle:Photo:selector.html.twig' %}
					</div>
					<div class="clear"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function() {
			$('#photo-browser').modal();
			// Initialize the jQuery File Upload widget:
			$('#fileupload').fileupload({
				// Uncomment the following to send cross-domain cookies:
				//xhrFields: {withCredentials: true},
				url: '{{ oneup_uploader_endpoint('photos') }}',
				// Enable image resizing, except for Android and Opera,
				// which actually support image resizing, but fail to
				// send Blob objects via XHR requests:
				disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator.userAgent),
				maxFileSize: 5000000,
				acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
				done: function(e) {
					console.log(e);
					$('#photo-selector').load('{{ path('comtso_photo_browser') }}');
				}
			});
			
			$(document).on('click', '#photo-browser ul.pagination li a', function(e){
				$('#photo-selector').load($(this).attr('href'));
				e.preventDefault();
			});
		});
	</script>
{% endblock %}
