<div id="blueimp-gallery" class="blueimp-gallery">
	<div class="slides"></div>
	<h3 class="title"></h3>
	<a class="prev">‹</a>
	<a class="next">›</a>
	<a class="close">×</a>
	<a class="play-pause"></a>
	<ol class="indicator"></ol>
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" aria-hidden="true">&times;</button>
				<div class="modal-body next"></div>
				<button type="button" class="btn btn-default pull-left prev">
					<i class="fa fa-arrow-left"></i>
				</button>
				<button type="button" class="btn btn-primary next">
					<i class="fa fa-arrow-right"></i>
				</button>
			</div>
		</div>
	</div>
</div>