{% extends 'ComTSoForumBundle::layout.html.twig' %}

{% block content %}
    {% spaceless %}
        {% for photo in photos %}
            <a href="{{ photo|path }}">{% include 'ComTSoForumBundle:Photo:image.html.twig' with {'filter': 'thumbnail'} %}</a>
        {% endfor %}
    {% endspaceless %}
{% endblock %}
