<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Photo Browser</h4>
</div>
<div class="modal-body">
    <h3>Ajout de photos</h3>
    {% include "@ComTSoForum/Photo/uploader.form.html.twig" %}
    <div class="photo-selector" {% if targetWidget is defined %}data-target-widget="{{ targetWidget }}"{% endif %}>
        {% if photos is defined %}
            {% include 'ComTSoForumBundle:Photo:selector.html.twig' %}
        {% else %}
            {% render(path('comtso_photo_browser')) %}
        {% endif %}
    </div>
    <div class="clear"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
