parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     comtso
    database_user:     comtso
    database_password: ~

    mailer_transport:  mail
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            fr
    secret:            ThisTokenIsNotSoSecretChangeIt

    imagine_driver: gd

    kernel.data_dir: %kernel.root_dir%/data

    brand.name: ComTSo
    owa.baseUrl: https://chalnot.fr/owa/
    owa.siteId: e38e9ef679ef74e681ac18c06c543138
