{% set quote = entity %}
<blockquote>
    <p>{{ quote.content|highlight(query) }}</p>
    {% if quote.originalAuthor %}
        <footer>{{ quote.originalAuthor|highlight(query) }}</footer>
    {% endif %}
</blockquote>
