<div class="post" id="post-{{ comment.id }}">
	<div class="col-sm-2 col-xs-3 post-side">
		{% include 'ComTSoForumBundle:User:avatar.html.twig' with {'author': comment.author} %}
	</div>
	<div class="col-sm-10 col-xs-9">
		{{ comment.content|raw }}
		<p class="post-infos text-muted">
			Posté le {{ comment.createdAt|date('d/m/Y à H:i') }}
			{#% if app.user.id == comment.author.id or 'ROLE_ADMIN' in app.user.roles %}
			– <a class="btn btn-xs" href="#"><i class="icon-pencil"></i> modifier</a> | 
			<a class="btn btn-xs text-warning" href="#"><i class="icon-remove"></i> supprimer</a>
			{% endif %#}
		</p>
	</div>
</div>