{% if form is defined %}
    <div class="post">
        <div class="col-sm-2 col-xs-3">
            {% include 'ComTSoForumBundle:User:avatar.html.twig' with {'author': app.user} %}
        </div>
        <div class="col-sm-10 col-xs-9">
            <form action="" method="post">
                {{ form_row(form.content) }}
                {{ form_rest(form) }}
                <p class="text-right"><button type="submit" class="btn btn-primary">Envoyer</button></p>
            </form>
        </div>
    </div>
{% endif %}