{% extends 'ComTSoForumBundle:Topic:layout.html.twig' %}

{% set skip_content = true %}

{% block topic_actions %}
    <div class="btn-group-vertical col-sm-10 entity-actions">
        <a href="{{ topic|path }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Retour au topic</a>
    </div>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        {% for f in forums %}
            <li{{ f.id == forum.id ? ' class="active"' }}><a href="{{ f|path }}">{{ f }}</a></li>
        {% endfor %}
    </ul>
    <div class="comment">
        <div class="clear"></div>
        {% include 'ComTSoForumBundle:Common:entity_header.html.twig' with {entity: comment, skip_content: true} %}
        <hr class="clear">
        {% include 'ComTSoForumBundle:Comment:comment.html.twig' %}
    </div>
{% endblock %}

