{% extends 'ComTSoForumBundle:Comment:comment.html.twig' %}

{% set comment = message %}

{% block post_actions %}
    {# @TODO
    <div class="btn-group btn-group-vertical">
        <a href="{{ comment|path('delete') }}" class="btn text-danger"><i class="fa fa-trash-o"></i></a>
    </div>
    #}
{% endblock %}

{% block post_mobile_actions %}{% endblock %}
