<p class="text-center">
	Photo ajoutée - 
	<a href="{{ topic|path('remove_photo', {'remove': photoTopic.id}) }}" class="btn btn-sm btn-default" data-action="cancel">
		<i class="fa fa-ban"></i> Annuler
	</a>
</p>
