{% extends 'ComTSoForumBundle:Topic:layout.html.twig' %}

{% set skip_content = true %}

{% block topic_actions %}
    <div class="btn-group pull-right">
        <a href="{{ topic|path('manage_photos') }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Retour</a>
    </div>
{% endblock %}

{% block inner_content %}
    {% include 'ComTSoForumBundle:Photo:uploader.html.twig' %}
    <div class="btn-group pull-right">
        <a href="{{ topic|path('manage_photos') }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Retour</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            oneUploadFormInit($('#photo-upload'));
        });
    </script>
{% endblock %}
