{% for photoTopic in topic.photos %}
    {% set photo = photoTopic.photo %}
    {% if photo %}
        <div class="img-thumbnail" title="{{ photo.title }}" data-id="{{ photo.id }}">
            {% include 'ComTSoForumBundle:Photo:image.html.twig' with {filter: 'thumbnail'} %}
            <div class="btn-group">
                <a href="{{ photo|path('edit') }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                <a href="{{ topic|path('remove_photo', {'remove': photoTopic.id}) }}" class="btn btn-primary"
                   data-action="remove"><i class="fa fa-times"></i></a>
            </div>
        </div>
    {% endif %}
{% endfor %}
<div class="clear"></div>
